<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 自动扫描包时，在applicationContext.xml的配置文件中只扫描Service，不扫描Controller ，让Service早于Controller被扫描，防止事务不生效 -->
	<!-- <context:component-scan base-package="com.myproject" /> -->
	<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->

	<!-- <context:component-scan base-package="com.myproject"> <context:exclude-filter 
		type="annotation" expression="org.springframework.stereotype.Controller" 
		/> </context:component-scan> -->

	<context:component-scan base-package="com.myproject" />

	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location" value="classpath:jdbc.properties" /> </bean> -->

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- 可配可不配，如果不配置druid会根据url自动识别dbType -->
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>

		<!-- 配置监控统计拦截的filters -->
		<property name="filters" value="stat" />

		<!-- 配置初始化大小、最小、最大 -->
		<property name="maxActive" value="20" />
		<property name="initialSize" value="1" />
		<property name="minIdle" value="1" />

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000" />

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxOpenPreparedStatements" value="20" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:mapping/*.xml"></property>
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
	</bean>

	<!-- 配置mapper扫描器 -->
	<!-- 默认自动生成一个mapper接口类型首字母小写的bean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.myproject.system.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<task:scheduler id="schedulerJob" pool-size="5" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<tx:annotation-driven />

	<tx:advice id="txAdvice">
		<tx:attributes>
			<!-- 约定优于编码 设置事务详情 -->
			<tx:method name="get*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="find*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="select*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="add*" />
			<tx:method name="save*" />
			<tx:method name="insert*" />
			<tx:method name="delete*" />
			<tx:method name="update*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.myproject.service..*.*(..))" />
	</aop:config>


	<!-- <tx:advice id="txadvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="insert*" propagation="REQUIRED"></tx:method> 
		</tx:attributes> </tx:advice> <aop:config> <aop:pointcut expression="execution(* 
		com.myproject.service..*.*(..))" id="servicePointcut"/> <aop:advisor advice-ref="txadvice" 
		pointcut-ref="servicePointcut" /> </aop:config> -->

	<import resource="classpath:activiti.cfg.xml" />
	<import resource="classpath:spring-quartz.xml" />

</beans>   